Repository yanissrairi/SolverPilot: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, cargo-fmt

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{ts,svelte,js,json,md,yml,yaml,css,html}'
      run: bunx prettier --check {staged_files}

    eslint:
      glob: '*.{ts,svelte,js}'
      run: bunx eslint {staged_files}

    cargo-fmt:
      root: src-tauri/
      glob: '*.rs'
      run: cargo fmt --check

pre-push:
  parallel: true
  commands:
    cargo-clippy:
      root: src-tauri/
      run: cargo clippy --all-targets -- -D warnings

    svelte-check:
      run: bun run check

chore(deps): update Rust and frontend dependencies
  bun.lock
  package.json
  src-tauri/Cargo.toml
Due: prettier

fix: resolve clippy warnings after dependency updates
  CLAUDE.md
  src-tauri/src/job.rs
  src-tauri/src/project.rs
  src-tauri/src/python_deps.rs
Due: prettier, cargo-fmt

perf: use zero-copy toml parsing (toml 0.9)
  src-tauri/src/config.rs
Due: cargo-fmt

refactor: use Tauri PathResolver for system-standard config/data paths
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/lib.rs
  src-tauri/src/paths.rs
  src-tauri/src/project.rs
Due: cargo-fmt

chore: rename bundle identifier to app.solverpilot
  src-tauri/src/config.rs
  src-tauri/src/project.rs
  src-tauri/tauri.conf.json
Due: prettier, cargo-fmt

chore: prepare for Tailwind v4 migration
  bun.lock
  package.json
Due: prettier

feat: migrate SSH from OpenSSH CLI to pure Rust (russh + bb8)
  bun.lock
  config.example.toml
  package.json
  postcss.config.js
  src-tauri/Cargo.toml
  src-tauri/deny.toml
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/lib.rs
  src-tauri/src/ssh.rs
  src-tauri/src/ssh/auth.rs
  src-tauri/src/ssh/error.rs
  src-tauri/src/ssh/executor.rs
  src-tauri/src/ssh/mod.rs
  src-tauri/src/ssh/pool.rs
  src-tauri/src/ssh/transfer.rs
  src-tauri/src/state.rs
  src/App.svelte
  src/app.css
  src/lib/DependencyPanel.svelte
  src/lib/ProjectSelector.svelte
  src/lib/api.ts
  src/lib/features/benchmarks/BenchmarkList.svelte
  src/lib/features/history/HistoryPanel.svelte
  src/lib/features/jobs/JobMonitor.svelte
  src/lib/features/setup/SetupWizard.svelte
  src/lib/features/ssh/SshPassphraseModal.svelte
  src/lib/layout/Header.svelte
  src/lib/layout/MainLayout.svelte
  src/lib/types.ts
  src/lib/ui/Button.svelte
  src/lib/ui/IconButton.svelte
  src/lib/ui/Modal.svelte
  src/lib/ui/Select.svelte
  src/lib/ui/Skeleton.svelte
  src/lib/ui/Toast.svelte
  src/lib/ui/Tooltip.svelte
  tailwind.config.js
Due: prettier, eslint, cargo-fmt

security(deps): upgrade russh to 0.56.0
  src-tauri/Cargo.toml
Due: none

fix(ssh): increase connection timeouts and add detailed logging
  src-tauri/src/ssh/auth.rs
  src-tauri/src/ssh/mod.rs
  src-tauri/src/ssh/pool.rs
Due: cargo-fmt

fix(ssh): prevent initSsh() from overwriting passphrase-authenticated SSH manager
  src/App.svelte
Due: prettier, eslint

feat(ssh): add optional passphrase field in setup wizard
  src-tauri/src/commands.rs
  src/lib/api.ts
  src/lib/features/setup/SetupWizard.svelte
Due: prettier, eslint, cargo-fmt

feat(ui): redesign SetupWizard as modern multi-step wizard
  src/lib/features/setup/SetupWizard.svelte
Due: prettier, eslint

fix(clippy): resolve all 52 clippy warnings
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/ssh/auth.rs
  src-tauri/src/ssh/error.rs
  src-tauri/src/ssh/executor.rs
  src-tauri/src/ssh/mod.rs
  src-tauri/src/ssh/pool.rs
  src-tauri/src/ssh/transfer.rs
Due: cargo-fmt

refactor: reorganize project structure and remove duplicates
  src/App.svelte
  src/lib/features/dependencies/DependencyPanel.svelte
  src/lib/features/projects/ProjectSelector.svelte
  src/lib/layout/Header.svelte
Due: prettier, eslint

fix(ui): update app title from 'Benchmark Runner' to 'SolverPilot'
  index.html
Due: prettier

fix(deps): update deny.toml for russh crypto dependencies
  src-tauri/deny.toml
Due: none

chore(deny): remove unnecessary cmake skip entry
  src-tauri/deny.toml
Due: none

chore(git): add .serena/ to .gitignore
  .gitignore
Due: none

docs(readme): modernize README to 2026 open-source standards
  README.md
Due: prettier

fix(ci): set working-directory for cargo-audit to src-tauri
  .github/workflows/ci.yml
Due: prettier

fix(clippy): use Self instead of LocalDependency in struct definition
  src-tauri/src/python_deps.rs
Due: cargo-fmt

ci: update GitHub Actions to SOTA 2026 and fix Security Audit
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
Due: prettier

chore: add _bmad/ to gitignore
  .gitignore
Due: none

docs: add generated project documentation
  docs/architecture-patterns.md
  docs/data-models-backend.md
  docs/deployment-guide.md
  docs/development-guide.md
  docs/existing-documentation-inventory.md
  docs/index.md
  docs/integration-architecture.md
  docs/ipc-commands-integration.md
  docs/project-parts-metadata.json
  docs/project-scan-report.json
  docs/project-structure.md
  docs/source-tree-analysis.md
  docs/state-management-patterns-frontend.md
  docs/technology-stack.md
  docs/ui-component-inventory-frontend.md
  docs/user-provided-context.md
Due: prettier

docs: add BMAD planning artifacts
  _bmad-output/planning-artifacts/architecture.md
  _bmad-output/planning-artifacts/bmm-workflow-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/implementation-readiness-report-2026-01-11.md
  _bmad-output/planning-artifacts/prd.md
  _bmad-output/planning-artifacts/research/technical-remote-job-state-capture-ssh-tmux-research-2026-01-08.md
  _bmad-output/planning-artifacts/ux-design-directions.html
  _bmad-output/planning-artifacts/ux-design-specification.md
Due: prettier

docs: add project context for AI agents
  _bmad-output/project-context.md
Due: prettier

docs: add Story 1.1 and sprint status tracking
  _bmad-output/implementation-artifacts/1-1-multi-select-benchmarks-in-left-panel.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier

feat(ui): implement multi-select benchmarks (Story 1.1)
  src/lib/features/benchmarks/BenchmarkList.svelte
Due: prettier, eslint

docs: add Story 1.1 UX requirements specification
  STORY_1_1_UX_REQUIREMENTS.md
Due: prettier

feat(queue): implement queue storage in SQLite database (Story 1.2)
  _bmad-output/implementation-artifacts/1-2-queue-storage-in-sqlite-database.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src/lib/api.ts
  src/lib/features/benchmarks/BenchmarkList.svelte
  src/lib/types.ts
Due: prettier, eslint, cargo-fmt

fix(queue): add transaction wrapping and document #[allow] attributes
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
Due: cargo-fmt

feat(queue): implement queue panel UI with status grouping (Story 1.3)
  _bmad-output/implementation-artifacts/1-3-queue-panel-ui-view-queued-jobs.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/App.svelte
  src/lib/api.ts
  src/lib/features/queue/QueuePanel.svelte
  src/lib/ui/StatusBadge.svelte
  tsconfig.json
  vite.config.ts
Due: prettier, eslint, cargo-fmt

fix(queue): code review fixes for Story 1.3
  _bmad-output/implementation-artifacts/1-3-queue-panel-ui-view-queued-jobs.md
  src-tauri/src/db.rs
  src/lib/features/queue/QueuePanel.svelte
  src/lib/layout/MainLayout.svelte
Due: prettier, eslint, cargo-fmt

feat(queue): implement queue job management - remove & reorder (Story 1.4)
  _bmad-output/implementation-artifacts/1-4-queue-job-management-remove-reorder.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src/lib/api.ts
  src/lib/features/queue/QueuePanel.svelte
  src/lib/ui/ConfirmModal.svelte
Due: prettier, eslint, cargo-fmt

fix(queue): code review fixes for Story 1.4
  _bmad-output/implementation-artifacts/1-4-queue-job-management-remove-reorder.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/db.rs
  src/lib/features/queue/QueuePanel.svelte
Due: prettier, eslint, cargo-fmt

feat(queue): implement duplicate detection & queue filtering (Story 1.5)
  _bmad-output/implementation-artifacts/1-5-duplicate-detection-queue-filtering.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/db.rs
  src/lib/api.ts
  src/lib/features/benchmarks/BenchmarkList.svelte
  src/lib/features/queue/QueuePanel.svelte
  src/lib/stores/toast.svelte.ts
  src/lib/types.ts
  src/lib/ui/Toast.svelte
Due: prettier, eslint, cargo-fmt

fix(queue): code review fixes for Story 1.5
  _bmad-output/implementation-artifacts/1-5-duplicate-detection-queue-filtering.md
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src/lib/features/queue/QueuePanel.svelte
  src/lib/types.ts
Due: prettier, eslint, cargo-fmt

chore(sprint): mark Epic 1 as done
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier

docs(retro): add Epic 1 retrospective
  _bmad-output/implementation-artifacts/epic-1-retrospective.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier

feat(queue): implement bash wrapper script - state capture foundation (Story 2.1)
  _bmad-output/implementation-artifacts/2-1-bash-wrapper-script-state-capture-foundation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/scripts/job_wrapper.sh
  src-tauri/scripts/test_wrapper.sh
Due: prettier
