Repository yanissrairi/SolverPilot: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, cargo-fmt

lefthook.yml:

# Lefthook - Git hooks manager
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{ts,svelte,js,json,md,yml,yaml,css,html}'
      run: bunx prettier --check {staged_files}

    eslint:
      glob: '*.{ts,svelte,js}'
      run: bunx eslint {staged_files}

    cargo-fmt:
      root: src-tauri/
      glob: '*.rs'
      run: cargo fmt --check

pre-push:
  parallel: true
  commands:
    cargo-clippy:
      root: src-tauri/
      run: cargo clippy --all-targets -- -D warnings

    svelte-check:
      run: bun run check

fix(queue): code review fixes for Story 2.1
  _bmad-output/implementation-artifacts/2-1-bash-wrapper-script-state-capture-foundation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/scripts/job_wrapper.sh
  src-tauri/scripts/test_wrapper.sh
Due: prettier

feat(queue): server-side SQLite schema initialization (Story 2.2)
  _bmad-output/implementation-artifacts/2-2-server-side-sqlite-database-schema-initialization.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/Cargo.toml
  src-tauri/sql/server_schema.sql
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/server_db.rs
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Due: prettier, cargo-fmt

fix(queue): code review fixes for Story 2.2
  _bmad-output/implementation-artifacts/2-2-server-side-sqlite-database-schema-initialization.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/server_db.rs
  src/lib/api.ts
Due: prettier, eslint, cargo-fmt

feat(queue): wrapper deployment via SSH (Story 2.3)
  _bmad-output/implementation-artifacts/2-3-wrapper-deployment-via-ssh.md
  _bmad-output/implementation-artifacts/2-4-queue-execution-backend-sequential-job-processing.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/server_db.rs
  src-tauri/src/wrapper.rs
  src/lib/api.ts
Due: prettier, eslint, cargo-fmt

fix(queue): code review fixes for Story 2.3
  _bmad-output/implementation-artifacts/2-3-wrapper-deployment-via-ssh.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/wrapper.rs
  src/lib/api.ts
Due: prettier, eslint, cargo-fmt

feat(queue): queue execution backend - sequential job processing (Story 2.4)
  _bmad-output/implementation-artifacts/2-4-queue-execution-backend-sequential-job-processing.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/queue_service.rs
  src-tauri/src/state.rs
  src/lib/api.ts
Due: prettier, eslint, cargo-fmt

fix(queue): code review fixes for Story 2.4
  _bmad-output/implementation-artifacts/2-4-queue-execution-backend-sequential-job-processing.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/queue_service.rs
  src/lib/api.ts
  src/lib/types.ts
Due: prettier, eslint, cargo-fmt

feat(queue): start/pause/resume queue controls (Story 2.5)
  _bmad-output/implementation-artifacts/2-5-start-pause-resume-queue-controls-frontend-backend.md
  _bmad-output/implementation-artifacts/2-6-job-state-reconciliation-triple-redundancy-validation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/queue_service.rs
  src/lib/api.ts
  src/lib/features/queue/QueuePanel.svelte
  src/lib/stores/queue.svelte.ts
  src/lib/types.ts
Due: prettier, eslint, cargo-fmt

fix: resolve clippy warnings in Story 2.5
  src-tauri/src/commands.rs
  src-tauri/src/queue_service.rs
Due: cargo-fmt

fix(queue): code review fixes for Story 2.5
  _bmad-output/implementation-artifacts/2-5-start-pause-resume-queue-controls-frontend-backend.md
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/queue_service.rs
  src/lib/features/queue/QueuePanel.svelte
  src/lib/stores/queue.svelte.ts
Due: prettier, eslint, cargo-fmt

refactor(queue): move polling initialization to explicit initPolling() call
  src/lib/features/queue/QueuePanel.svelte
  src/lib/stores/queue.svelte.ts
Due: prettier, eslint
